In [29]:
from bs4 import BeautifulSoup
html = """
    <html>
     <head>
         <title>2020 Oscar nominees and winners</title>
     </head>
     <body>
         <h1 id="oscar_title">Oscars 2020</h1>
         <p>The biggest cinema awards ceremony took place in February. This year's highlights were:</p>
         <ul class="highlights">
             <li>Joker</li>
             <li>1917</li>
             <li>Once Upon a Time in Hollywood</li>
             <li>The Irishman</li>
         </ul>
         <p>See the winners of 3 categories below.</p>
         <div>
             <div class="best-film-category">
                 <h2>Category: best film</h2>
                 <ul>
                     <li>Ford vs Ferrari</li>
                     <li>The Irishman</li>
                     <li>JoJo Rabbit</li>
                     <li>Joker</li>
                     <li>Little Women</li>
                     <li>Marriage Story</li>
                     <li>1917</li>
                     <li>Once Upon a Time in Hollywood</li>
                     <li class="winner">Parasite <strong>[WINNER]</strong></li>
                 </ul>
             </div>
             <br>
             <div class="best-actor-category">
                 <h2>Category: best actor</h2>
                 <ul>
                     <li>Antonio Banderas - Pain and Glory</li>
                     <li>Leonardo DiCaprio - Once Upon a Time In... Hollywood</li>
                     <li>Adam Driver - Marriage Story</li>
                     <li class="winner">Joaquin Phoenix - Joker <strong>[WINNER]</strong></li>
                     <li>Jonathan Price - The Two Popes</li>
                 </ul>
             </div>
             <br>
             <div class="best-actress-category">
                 <h2>Category: best actress</h2>
                 <ul>
                     <li>Cythia Erivo - Harriet</li>
                     <li>Scarlett Johansson - Marriage Story</li>
                     <li>Saoirse Ronan - Little Women</li>
                     <li>Charlize Theron - The Scandal</li>
                     <li class="winner">Renée Zellweger - Judy: Far Over the Rainbow <strong>[WINNER]</strong></li>
                 </ul>
             </div>
         </div>
     </body>
</html>"""

In [30]:
soup = BeautifulSoup(html, 'html.parser')

In [31]:
print(soup.prettify())

<html>
 <head>
  <title>
   2020 Oscar nominees and winners
  </title>
 </head>
 <body>
  <h1 id="oscar_title">
   Oscars 2020
  </h1>
  <p>
   The biggest cinema awards ceremony took place in February. This year's highlights were:
  </p>
  <ul class="highlights">
   <li>
    Joker
   </li>
   <li>
    1917
   </li>
   <li>
    Once Upon a Time in Hollywood
   </li>
   <li>
    The Irishman
   </li>
  </ul>
  <p>
   See the winners of 3 categories below.
  </p>
  <div>
   <div class="best-film-category">
    <h2>
     Category: best film
    </h2>
    <ul>
     <li>
      Ford vs Ferrari
     </li>
     <li>
      The Irishman
     </li>
     <li>
      JoJo Rabbit
     </li>
     <li>
      Joker
     </li>
     <li>
      Little Women
     </li>
     <li>
      Marriage Story
     </li>
     <li>
      1917
     </li>
     <li>
      Once Upon a Time in Hollywood
     </li>
     <li class="winner">
      Parasite
      <strong>
       [WINNER]
      </strong>
     </li>
    </ul>
   </div>
   <br/>
   <div class="best-actor-category">
    <h2>
     Category: best actor
    </h2>
    <ul>
     <li>
      Antonio Banderas - Pain and Glory
     </li>
     <li>
      Leonardo DiCaprio - Once Upon a Time In... Hollywood
     </li>
     <li>
      Adam Driver - Marriage Story
     </li>
     <li class="winner">
      Joaquin Phoenix - Joker
      <strong>
       [WINNER]
      </strong>
     </li>
     <li>
      Jonathan Price - The Two Popes
     </li>
    </ul>
   </div>
   <br/>
   <div class="best-actress-category">
    <h2>
     Category: best actress
    </h2>
    <ul>
     <li>
      Cythia Erivo - Harriet
     </li>
     <li>
      Scarlett Johansson - Marriage Story
     </li>
     <li>
      Saoirse Ronan - Little Women
     </li>
     <li>
      Charlize Theron - The Scandal
     </li>
     <li class="winner">
      Renée Zellweger - Judy: Far Over the Rainbow
      <strong>
       [WINNER]
      </strong>
     </li>
    </ul>
   </div>
  </div>
 </body>
</html>

In [32]:
print(soup.title)

<title>2020 Oscar nominees and winners</title>

In [33]:
print(soup.title.get_text())

2020 Oscar nominees and winners

In [34]:
print(soup.h3)

None

In [35]:
print(soup.ul.li)

<li>Joker</li>

In [36]:
h2 = soup.find_all("h2")

In [37]:
h2

[<h2>Category: best film</h2>,
 <h2>Category: best actor</h2>,
 <h2>Category: best actress</h2>]

In [38]:
soup.find_all(["h2", "li"])

[<li>Joker</li>,
 <li>1917</li>,
 <li>Once Upon a Time in Hollywood</li>,
 <li>The Irishman</li>,
 <h2>Category: best film</h2>,
 <li>Ford vs Ferrari</li>,
 <li>The Irishman</li>,
 <li>JoJo Rabbit</li>,
 <li>Joker</li>,
 <li>Little Women</li>,
 <li>Marriage Story</li>,
 <li>1917</li>,
 <li>Once Upon a Time in Hollywood</li>,
 <li class="winner">Parasite <strong>[WINNER]</strong></li>,
 <h2>Category: best actor</h2>,
 <li>Antonio Banderas - Pain and Glory</li>,
 <li>Leonardo DiCaprio - Once Upon a Time In... Hollywood</li>,
 <li>Adam Driver - Marriage Story</li>,
 <li class="winner">Joaquin Phoenix - Joker <strong>[WINNER]</strong></li>,
 <li>Jonathan Price - The Two Popes</li>,
 <h2>Category: best actress</h2>,
 <li>Cythia Erivo - Harriet</li>,
 <li>Scarlett Johansson - Marriage Story</li>,
 <li>Saoirse Ronan - Little Women</li>,
 <li>Charlize Theron - The Scandal</li>,
 <li class="winner">Renée Zellweger - Judy: Far Over the Rainbow <strong>[WINNER]</strong></li>]

In [39]:
soup.find_all('li', text="Scarlett Johansson - Marriage Story")

/var/folders/cc/txg44nl176v3xfyt08_33rm00000gn/T/ipykernel_18464/335918586.py:1: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  soup.find_all('li', text="Scarlett Johansson - Marriage Story")

In [40]:
soup.find_all(class_='best-actress-category')[0].find_all('li')

[<li>Cythia Erivo - Harriet</li>,
 <li>Scarlett Johansson - Marriage Story</li>,
 <li>Saoirse Ronan - Little Women</li>,
 <li>Charlize Theron - The Scandal</li>,
 <li class="winner">Renée Zellweger - Judy: Far Over the Rainbow <strong>[WINNER]</strong></li>]

In [41]:
first_actress = soup.find_all(class_='best-actress-category')[0].find_all('li')[0]
first_actress

In [42]:
first_actress.name

'li'

In [43]:
import requests
response = requests.get("https://www.scrapethissite.com/pages/simple/")
print(response.text[:100])
websoup = BeautifulSoup(response.text, 'html.parser')

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Countries of the Wor

In [44]:
websoup = BeautifulSoup(response.text, 'html.parser')

In [45]:
websoup.title

In [46]:
countries = websoup.find_all(class_="country-name")

In [47]:
countries = [country.get_text().strip() for country in countries]

In [48]:
countries[:5]

['Andorra',
 'United Arab Emirates',
 'Afghanistan',
 'Antigua and Barbuda',
 'Anguilla']

In [49]:
import pandas as pd

In [50]:
capitals = websoup.find_all(class_="country-capital")
capitals = [capital.get_text().strip() for capital in capitals]

In [51]:
capitals[:5]

['Andorra la Vella', 'Abu Dhabi', 'Kabul', "St. John's", 'The Valley']

In [52]:
populations = websoup.find_all(class_="country-population")
populations = [population.get_text().strip() for population in populations]

In [53]:
populations[:5]

['84000', '4975593', '29121286', '86754', '13254']

In [54]:
areas = websoup.find_all(class_="country-area")
areas = [area.get_text().strip() for area in areas]

In [55]:
data = pd.DataFrame({
    "Country": countries,
    "Capital": capitals,
    "Population": populations,
    "Area": areas
})

In [56]:
data.head()

                Country           Capital Population      Area
0               Andorra  Andorra la Vella      84000     468.0
1  United Arab Emirates         Abu Dhabi    4975593   82880.0
2           Afghanistan             Kabul   29121286  647500.0
3   Antigua and Barbuda        St. John's      86754     443.0
4              Anguilla        The Valley      13254     102.0